@using CorePractice02.Models
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Employees Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-10 offset-md-2">
        <table class="table">
            <tr>
                <!-- <th> Html.DisplayNameFor(model => model.FirstName) </th> -->
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Is Fired</th>
                <th>操作</th>
            </tr>
            <!-- 比起for循環的Html.DisplayFor()的方式，這個等同是將要呈現的模板另外寫到其他檔案讓它參考 -->
            @Html.DisplayForModel()
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-2">
        <!-- 以前的@Html.Action("Add") -->
        <a asp-action="Add" asp-route-departmentId="@ViewBag.DepartmentId">Add</a>
    </div>
</div>

